*{
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
}

.body_bg_img{
  background-image: url("../img/payments-banner-graphic.png");
  background-size: contain;
  height: 100vh;
}

.text-white{
  color: white;
  text-decoration: none;
}

.text-white a, .text-white a:hover{
  color: white;
  text-decoration: none;
}

.bg_white{
    background-color: white;
}

.bg_blue{
  background-color: #7CD5EF;
  overflow: hidden;
  padding:  0px;
}

.bg_violet{
  background-color: #8080BE;
  overflow: hidden;
  padding:  0px;
}


.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  color: white;
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 0px solid transparent;
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
}

.navbar-brand img, .navbar-brand div{
    height : 30px;
    width: auto;
    line-height: 30px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.navbar .icon-bar{
    background: white;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggle:focus {
  outline: 1;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.logo_dim img{
  height: 40px;
}

.comments{
  color: white;
  background-color: #8080BE;
  padding: 10px 0px 10px 0px;
  text-align:center;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width : 70px;
  height: 70px;
  font-size: 32px;
  border: 1px solid #CDD0D2;
  box-shadow: 1px 4px 6px rgba(125,125,125,0.7);
}


.comments a{
  color: white;
}

.comments a:hover{
  opacity: 0,5;
}

.simple{
  height: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.quick{
  padding: 50px;
}

.quick img{
  height: 60px;
  width: 60px;
}

.prices{
  border-top: 1px solid #BDBDBD;
  background-color: white;
  padding: 50px;
}

.prices_height{
  height: auto;
  padding: 50px;
}

.prices .price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.price span{
    font-weight: lighter;
}

.price div{
    height: inherit;
}

.price div span{
    display: block;
}

.quick, .prices, .card{
  color: #BDBDBD;
}

.card{
  background-color: #4C535C;
  padding: 25px;
}

.price{
  display: flex;
  flex-direction: row;
  text-align: left;
  align-self: top;
  padding-top: 15px;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

.integrate , .integrate_inverse{
  padding : 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.integrate_inverse{
    flex-direction: row-reverse;
}

.integrate_img img{
    margin: auto;
    width: 70%;
    border-radius: 15px;
    background-color: white;
    transform: translateY(20%);
}

.integrate_text {
  text-align: left;
  font-family: 'Tahoma',sans-serif;
  font-size: 15px;
  transform: translateX(20%);
  transform: translateY(5%);
  padding-left: 120px;
  padding-right: 120px;
}

.integrate_text h3{
    font-size: 34px;
    color: #666;
    margin-bottom: 30px;
}

.integrate_text p{
    font-size: 14px;
    color: #AAA;
}

.ready{
  font-size: 24px;
  color: #BDBDBD;
  height: auto;
  padding: 60px;
  border-top: 1px solid #DDDDDD;
  background-color: #FCFCFC;
}

.foooter{
  background-color: #242629;
  height: auto;
  padding-bottom: 50px;

}

.foooter ul, .foooter li, .foooter h3{
    font-family: 'Tahoma', sans-serif;
    list-style-type: none;
    text-align: left;
    line-height: 30px;
    font-weight: lighter;
}

.foooter h3{
  color: #777768;
}

.legal{
  background-color: #242629;
  height: auto;

}

.legal p{
  color: #789599;
  font-weight: lighter;
  font-size: 10px;
  line-height: 15px;
  padding-bottom: 25px;
}

@media screen and (max-width: 400px) {
    .simple{
      height: auto;
      padding-top: 5px;
      padding-bottom: 70px;
    }
    .div_gd_border{
     border-left: 0px solid #BDBDBD;
     border-right: 0px solid #BDBDBD;
    }
    .body_bg_img{
       background-image: url("../img/payments-banner-graphic.png");
       background-size: inherit;
       height: 10vh;
      }
    .comments{
      opacity: 0.5;
      }

    .comments a:hover{
      opacity: 1;
      }

    .integrate_text {
      text-align: left;
      font-family: 'Tahoma',sans-serif;
      font-size: 15px;
      transform: translateX(10%);
      transform: translateY(5%);
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 25px;
    }
}

@media screen and (min-width: 1000px) {
    .div_gd_border{
    border-left: 1px solid #BDBDBD;
     border-right: 1px solid #BDBDBD;
    }
}
